block variables
  - var pageTitle = title
  - var pageDescription = description
  - var pageAuthor = author
doctype html
html(lang="en")
  include partials/head.jade
  body
    include partials/header.jade
    main
      block content
    include partials/footer.jade
    != js('/')
    
