head
  meta(charset="utf-8")
  title #{title} | #{s.capitalize(pageTitle)}
  meta(name="description" content=pageDescription)
  meta(name="author" content=pageAuthor)
  meta(name="viewport" content="width=device-width, initial-scale=1")
  != css()
