block variables
  - var pageTitle = 'home'
  - var pageDescription = description
  - var pageAuthor = author

include layouts/partials/jumbotron.jade

extends layouts/default
block content
  +jumbotron(
    "Meet Michael Kornblum - an independent front-end developer who loves to share his knowledge with others.", 
    "/contact.html", 
    "contact me"
  )
  
  h2 Hello World
  
  
    
  
